<div class="flex flex-row w-full">
  <ng-container *ngFor="let item of [1,2,3]">
    <figure class="flex flex-col justify-center items-center w-[12%] border border-dodger_blue rounded-[8px] p-16 shadow-black shadow-2xl m-16">
      <img src="/assets/images/hills.jpg" alt="Space Shuttle" class="p-8 border border-silver rounded-[8px]">
      <figcaption class="text-black my-8">Bangkok product</figcaption>
      <button class="bg-dodger_blue px-8 w-full text-white hover:bg-secondary">Add to card</button>
    </figure>
  </ng-container>
</div>
