<section class="flex page-height mt-[95px] mb-24">
  <div class="flex flex-col">
    <ng-container *ngFor="let item of [1,2,3,4,5,6]">
      <div
        class="flex justify-center items-center arrow-content h-[80px] w-[200px] m-24 px-24 bg-verdigris text-white cursor-pointer hover:bg-secondary">
        <p>Summer wears</p>
      </div>
    </ng-container>
  </div>
  <div class="flex flex-wrap m-24 rounded-[8px]">
    <ng-container *ngFor="let card of cards; let i = index">
      <figure
        class="flex flex-col justify-center items-center h-[200px] w-[160px] border border-dodger_blue rounded-[8px] p-16 shadow-black shadow-2xl m-16">
        <img [src]="card.img" alt="Space Shuttle" class="p-8 border border-silver rounded-[8px] h-[100px]">
        <figcaption class="text-black my-8">{{card.caption}}</figcaption>
        <button class="bg-dodger_blue px-8 w-full text-white active:bg-secondary" (click)="addToCard(cards.length, i)">Add to card</button>
      </figure>
    </ng-container>
    <div class="flex flex-col justify-center place-items-center border border-secondary rounded-[8px] cursor-pointer item-center m-24 p-24 w-[160px] h-[160px]">
      <i class="material-icons">refresh</i>
      <button class="ml-8 px-8 py-4 text-secondary">load more...</button>
    </div>
  </div>
</section>
