.product-categories:before,.product-categories:after {
  content: "";
  position: absolute;
  border-left: 50px solid theme('colors.white');
  border-right: 50px solid theme('colors.white');
}

.product-categories:before {
  bottom: 100%;
  border-bottom: 27.5px solid theme('colors.primary');
}

.product-categories:after {
  top: 100%;
  border-top: 27.5px solid theme('colors.primary');
}

.arrow-content {
  clip-path: polygon(75% 0%, 90% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
}

.inner-shadow {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
