<div class="page-height mt-[95px]">
  <div class="flex flex-row justify-around mt-24">
    <div class="w-[66%] border">
      <p class="title--large text-secondary ml-20">Your added products will be shown here!</p>
      <div class="h-[70vh] flex flex-wrap flex-row overflow-auto relative">
        <div class="flex flex-row flex-wrap h-full">
          <div *ngFor="let product of products"
               class="rounded-[8px] shadow-black shadow-2xl border border-secondary m-20 w-[200px] h-[290px]">
    <span>
     <div class="flex flex-row justify-end">
        <i class="flex justify-end material-icons cursor-pointer hover:text-crimson"
           (click)="deleteProduct(product.id)">close</i>
     </div>
      <img [src]="product.productImage"
           class="w-[160px] h-[138px] border-2 border-silver inner-shadow rounded-[8px] ml-18"
           alt="updated product">
    </span>
            <div class="mt-8 mx-16 text-center">
              <p class="text-secondary text-xl">{{product.name}}</p>
              <p class="text-crimson">Nu.{{product.price}}</p>
              <p class="italic">{{product.description}}</p>
            </div>
            <div (click)="showProductDetailsForm()"
                 class="flex flex-center border border-secondary rounded-[4px] bg-secondary m-8 text-white cursor-pointer">
              <button>Edit</button>
              <i class="material-icons ml-16">edit</i>
            </div>
          </div>
          <dialog [open]="productDetailsForm"
                  class="w-[400px] border border-silver rounded-[8px] mt-24 p-24 shadow-black shadow-2xl">
            <div class="flex flex-col justify-center items-center">
              <h2 class="text-secondary text-2xl mb-8">Please provide product details.</h2>
              <form class="mt-16" [formGroup]="productForm">
                <input required type="text" id="name" placeholder="Product name" class="w-full border rounded-md p-6"
                       formControlName="name"/>
                <input required type="number" id="number" placeholder="Price"
                       class="border w-full border rounded-md p-6 my-16"
                       formControlName="price"/>
                <input required type="text" id="description" placeholder="Short Description"
                       class="border w-full border rounded-md p-6" formControlName="description"/>
                <input type="file" id="file" placeholder="Short Description"
                       class="border w-full border rounded-md p-6 mt-16" (change)="imageUpload($event)"/>
              </form>
            </div>
            <div class="flex justify-end mt-24">
              <py-common-button (cancelEmit)="cancelForm($event)"></py-common-button>
              <button class="ml-16 bg-secondary px-8 py-4 text-white rounded" (click)="addProduct()">Add Product
              </button>
            </div>
          </dialog>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center w-[30%]">
      <p class="text-2xl text-dodger_blue">Please Add Your Products Here</p>
      <p class="italic">Sell your products with FaShion UpDate!</p>
      <div (click)="showProductDetailsForm()"
           class="flex flex-col border justify-center items-center background-image border border-silver shadow-2xl shadow-silver rounded-[8px] cursor-pointer mt-24 w-[230px] h-[228px]">
        <button class="ml-8 px-8 py-4 text-xl">Add Product</button>
      </div>
      <div class="border border-primary mt-24 h-[280px] container overflow-hidden rounded-[4px]">
        <div class="flex wrapper">
          <img *ngFor="let slide of slides" [src]="slide" class="w-full h-full" alt="slide image">
        </div>
      </div>
      <p class="mt-16">Reach out to millions of customers with your brand. In charge of the entire experience,
        from discovery to your specific shop and from your product pages to their inboxes.</p>
    </div>
  </div>
</div>
