<div class="flex flex-row flex-wrap w-full page-height mt-[95px]">
  <div *ngFor="let product of products"
       class="rounded-[8px] shadow-black shadow-2xl border border-secondary bg-white_ice m-24 w-[180px] h-[256px]">
    <span>
      <i class="flex justify-end material-icons cursor-pointer hover:text-crimson"
         (click)="deleteProduct(product.id)">close</i>
      <img [src]="product.productImage" class="w-[160px] h-[138px] border border-silver rounded-[8px] mx-8"
           alt="updated product">
    </span>
    <div class="m-8">
      <p class="text-dodger_blue">{{product.name}}</p>
      <p class="text-crimson">Nu.{{product.price}}</p>
      <p class="italic">{{product.description}}</p>
    </div>
  </div>
  <div (click)="showProductDetailsForm()"
       class="flex flex-col justify-center place-items-center border border-secondary rounded-[8px] cursor-pointer item-center m-24 p-24 w-[160px] h-[160px]">
    <i class="material-icons">add</i>
    <button class="ml-8 px-8 py-4 text-secondary">add Product</button>
  </div>
  <dialog [open]="productDetailsForm"
          class="w-[400px] border border-silver rounded-[8px] mt-24 p-24 shadow-black shadow-2xl">
    <div class="flex flex-col justify-center items-center">
      <h2 class="text-secondary text-2xl mb-8">Please provide product details.</h2>
      <form class="mt-16" [formGroup]="productForm">
        <input type="text" id="name" placeholder="Product name" class="w-full border rounded-md p-6"
               formControlName="name"/>
        <input type="number" id="number" placeholder="Price" class="border w-full border rounded-md p-6 my-16"
               formControlName="price"/>
        <input type="text" id="description" placeholder="Short Description"
               class="border w-full border rounded-md p-6" formControlName="description"/>
        <input type="file" id="file" placeholder="Short Description"
               class="border w-full border rounded-md p-6 mt-16" (change)="imageUpload($event)"/>
      </form>
    </div>
    <div class="flex justify-end mt-24">
      <py-common-button (cancelEmit)="cancelForm($event)"></py-common-button>
      <button class="ml-16 bg-secondary px-8 py-4 text-white rounded" (click)="addProduct()">Add Product</button>
    </div>
  </dialog>
</div>

