<div class="flex flex-row flex-wrap justify-between bg-pink-200 px-4 w-full">
  <div class="flex flex-row">
    <img src="/assets/images/logo-img.png" class="logo-img cursor-pointer rounded-full my-2" alt="logo-img">
    <div class="ml-8 mt-8">
      <label class="relative block search-bar">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
         </svg>
      </span>
        <input
          class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          placeholder="Search your favorite products.." type="text" name="search"/>
      </label>
    </div>
  </div>
  <div class="mt-10 flex flex-row text-pink-600" *ngFor="let options of headerOptions">
    <p class="cursor-pointer hover:text-purple-800" [routerLink]="options.routeValue">{{ options.headerTitle | uppercase }}</p>
  </div>
  <div class="text-white mt-8">
    <button class="rounded-lg bg-purple-500 px-4 py-2 hover:bg-pink-400 hover:text-black">Sign In</button>
    <button class="rounded-lg ml-8 bg-purple-500 px-4 py-2 hover:bg-pink-400 hover:text-black">Sign Up</button>
  </div>
</div>