<div class="page-height mt-[95px] p-24 mx-32">
  <p>
    It all began with aBit Private limited, 8 years old, Thimphu based IT company providing complete IT solution and
    services to various businesses. And, Zala.bt was one of many such project the software department was working on.
    After a thorough market research for almost 2 years, Zala.bt was launched on July the 6th, 2020. A new e-commerce
    platform designed to facilitate the sale of various products online.
  </p>
  <p class="my-24">
    It all began with aBit Private limited, 8 years old, Thimphu based IT company providing complete IT solution and
    services to various businesses. And, Zala.bt was one of many such project the software department was working on.
    After a thorough market research for almost 2 years, Zala.bt was launched on July the 6th, 2020. A new e-commerce
    platform designed to facilitate the sale of various products online.
  </p>
  <p>
    It all began with aBit Private limited, 8 years old, Thimphu based IT company providing complete IT solution and
    services to various businesses. And, Zala.bt was one of many such project the software department was working on.
    After a thorough market research for almost 2 years, Zala.bt was launched on July the 6th, 2020. A new e-commerce
    platform designed to facilitate the sale of various products online.
  </p>
  <p class="my-24">
    It all began with aBit Private limited, 8 years old, Thimphu based IT company providing complete IT solution and
    services to various businesses. And, Zala.bt was one of many such project the software department was working on.
    After a thorough market research for almost 2 years, Zala.bt was launched on July the 6th, 2020. A new e-commerce
    platform designed to facilitate the sale of various products online.
  </p>
  <p>
    It all began with aBit Private limited, 8 years old, Thimphu based IT company providing complete IT solution and
    services to various businesses. And, Zala.bt was one of many such project the software department was working on.
    After a thorough market research for almost 2 years, Zala.bt was launched on July the 6th, 2020. A new e-commerce
    platform designed to facilitate the sale of various products online.
  </p>
</div>
