<!--<div class="flex flex-row">
  <img src="/assets/images/skirts.jpg" alt="logo-img">
  <img src="/assets/images/ladies-shirt.jpg" alt="logo-img">
</div>-->
<section class="slideshow">
  <div class="content">
    <div class="content-carrousel">
      <figure class="shadow"><img src="/assets/images/boots.jpg" alt="pp"></figure>
      <figure class="shadow"><img src="/assets/images/pants.jpg" alt="pp"></figure>
      <figure class="shadow"><img src="/assets/images/jackets.jpg" alt="pp"></figure>
      <figure class="shadow"><img src="/assets/images/earing.jpg" alt="pp"></figure>
      <figure class="shadow"><img src="/assets/images/pers.jpeg" alt="pp"></figure>
      <figure class="shadow"><img src="/assets/images/skirts.jpg" alt="pp"></figure>
      <figure class="shadow"><img src="/assets/images/shoes.jpg" alt="pp"></figure>
      <figure class="shadow"><img src="/assets/images/cosmetics.jpeg" alt="pp"></figure>
      <figure class="shadow"><img src="/assets/images/bags.jpg" alt="pp"></figure>
    </div>
  </div>
</section>
