.slideshow {
  margin: 0 auto;
  height: 340px;
  background-image: url('/assets/images/bg-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.content {
  margin: auto;
  perspective: 1000px;
  width: 190px;
}
.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}
.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.content-carrousel figure {
  width: 100%;
  height: 140px;
  border: 1px solid #4dd4444d;
  overflow: hidden;
  position: absolute;
}
.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
.shadow {
  position: absolute;
  box-shadow: 0 0 20px 0 #000;
  border-radius: 2px;
}
.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}
.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}
@keyframes rotar {
  from {
    transform: rotateY(0deg);
  } to {
      transform: rotateY(360deg);
    }
  }

.flipper {
  transform-style: preserve-3d; /* preserve the 3D transformation */
  transition: transform 0.8s; /* add a transition for the transform property */
}

.flipper:hover {
  transform: rotateY(180deg); /* rotate the element 180 degrees on hover */
}

.front, .back {
  backface-visibility: hidden; /* hide the backface of the element */
}

.back {
  transform: rotateY(180deg); /* rotate the back face 180 degrees */
}

