//@import 'tailwindcss/base';
//@import 'tailwindcss/components';
//@import 'tailwindcss/utilities';

@tailwind components;
@tailwind base;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  ::-webkit-scrollbar {
    display: none;
  }
}
.page-height {
  min-height: calc(100vh - 224px);
  overflow-y: scroll;
}
