<div class="flex flex-row flex-wrap justify-between bg-dodger_blue px-4 w-full">
  <div class="flex flex-col">
    <p>Social Media</p>
    <svg viewBox="0 0 200 200" width="100" height="100">
      <!-- Face -->
      <circle cx="100" cy="100" fill="yellow" r="78" stroke="black" stroke-width="3" />
      <g>
        <!-- Left eye -->
        <circle cx="65" cy="82" r="12" />
        <!-- Right Eye -->
        <circle cx="130" cy="82" r="12" />
      </g>
      <!-- Smile -->
      <path d="M65 115 a1,0.8 0 0,0 65,0" fill="none" stroke="black" stroke-width="3" />
    </svg>
  </div>
</div>
